<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net45" />
  <package id="NUnit" version="4.1.0" targetFramework="net46" requireReinstallation="true" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net48" />
  <package id="ReportGenerator" version="5.3.0" targetFramework="net48" />
</packages>